
.App {
  text-align: center;
  font-family: sans-serif;
}

.light {
  background-color: white;
  color: black;
  transition: all 0.4s ease;
}

.dark {
  background-color: black;
  color: white;
  transition: all 0.4s ease;
}

button {
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  border-radius: 5px;
}
